<div class="row" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 0px;">

    <!-- Coluna vídeo -->
    <div class="col-9">
        <div class="embed">
            <iframe src="https://www.youtube.com/embed/PnG96134Etw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <!-- Coluna vídeo configuração e chat-->
    <div class="col-3">

        <!-- Linha configuração sala -->
        <div class="row">

            <div class="col-12">

                <!-- Card configuração sala -->
                <div class="card shadow mb-3">
                    <!-- Cabeçalho card configuração sala -->
                    <div class="card-header">
                        <div class="row">
                            <!-- Coluna texto -->
                            <div class="col-xxl-9">
                                <label class="col-form-label" for="username" style="color: #3a3b45;">
                                    <strong>Configure sua sala</strong>                                   
                                    <br>
                                </label>
                            </div>

                        </div>
                    </div>
                    <!-- Corpo card configuração sala -->
                    <div class="card-body">
                        <!-- formulario -->
                        <app-formulario-nova-sala [btnText]="btnText"
                            (onSubmit)="createHandler($event)"></app-formulario-nova-sala>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>