<div class="row" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 0px;">
    <div class="col-xxl-9 d-xxl-flex justify-content-xxl-center"><iframe allowfullscreen="" frameborder="0"
            src="https://www.youtube.com/embed/idFDqft11m0" width="1244" height="700"></iframe></div>
    <div class="col">
        <div class="row">
            <div class="col-xxl-12">
                <div class="card shadow mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xxl-9"><label class="col-form-label" for="username"
                                    style="color: #3a3b45;"><strong>Sua sala está pronta</strong><br></label></div>
                            <div class="col"><a
                                    class="btn btn-primary d-lg-flex justify-content-lg-center align-items-lg-center ms-md-2"
                                    role="button" data-bs-toggle="tooltip" data-bss-tooltip="" routerLink="/"
                                    style="color: #3a3b45;background: #ffc61e;border-color: #ffc61e;" title="Sair"><i
                                        class="fa fa-sign-in" style="color: #3a3b45;font-size: 22px;"></i></a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="username"
                                            style="margin-bottom: 0px;"><strong>Compartilhe este link da sala, com quem
                                                você quer que participe.</strong></label></div>
                                </div>
                                <div class="col-lg-12 d-lg-flex align-items-lg-center" p=""
                                    style="padding-bottom: 0;padding-top: 0;">
                                    <div class="input-group"><label class="form-label input-group-text" for="username"
                                            style="color: #3a3b45;height: 48px;width: 232px;"><strong>meet.google.com/zsj-nqia-tnm</strong><br></label><button
                                            class="btn btn-primary py-0" data-bs-toggle="tooltip" data-bss-tooltip=""
                                            type="button"
                                            style="background: #3a3b45;border-color: #3a3b45;height: 48px;width: 69px;"
                                            title="Copiar"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                width="1em" height="1em" fill="currentColor"
                                                style="color: #ffc61e;font-size: 25px;border-color: #3a3b45;">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path
                                                    d="M502.6 70.63l-61.25-61.25C435.4 3.371 427.2 0 418.7 0H255.1c-35.35 0-64 28.66-64 64l.0195 256C192 355.4 220.7 384 256 384h192c35.2 0 64-28.8 64-64V93.25C512 84.77 508.6 76.63 502.6 70.63zM464 320c0 8.836-7.164 16-16 16H255.1c-8.838 0-16-7.164-16-16L239.1 64.13c0-8.836 7.164-16 16-16h128L384 96c0 17.67 14.33 32 32 32h47.1V320zM272 448c0 8.836-7.164 16-16 16H63.1c-8.838 0-16-7.164-16-16L47.98 192.1c0-8.836 7.164-16 16-16H160V128H63.99c-35.35 0-64 28.65-64 64l.0098 256C.002 483.3 28.66 512 64 512h192c35.2 0 64-28.8 64-64v-32h-47.1L272 448z">
                                                </path>
                                            </svg></button></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 d-lg-flex align-items-lg-center" p=""
                                    style="padding-bottom: 0;padding-top: 0;">
                                    <div class="input-group" style="width: 300px;"><input
                                            class="bg-light form-control border-0 small" type="text"
                                            placeholder="Digite o link do vídeo"><button class="btn btn-primary py-0"
                                            data-bs-toggle="tooltip" data-bss-tooltip="" type="submit"
                                            style="background: #ffc61e;border-color: #ffc61e;width: 69px;height: 48px;"
                                            title="Link vídeo do youtube"><i class="fa fa-youtube"
                                                style="color: #3a3b45;font-size: 25px;"></i></button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header" style="height: 44px;"><label class="form-label" for="username"
                            style="color: #3a3b45;"><strong>Chat ao vivo</strong><br></label></div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col" style="height: 276px;">
                                    <div class="mb-3"><label class="form-label" for="username"><strong>Username: aqui
                                                vai um texto</strong></label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 d-lg-flex align-items-lg-center" p=""
                                    style="padding-bottom: 12px;padding-top: 12px;">
                                    <div class="input-group"><input class="bg-light form-control" type="text"
                                            placeholder="Digite algo"
                                            style="border-width: 0px;border-color: #3a3b45;"><button
                                            class="btn btn-primary py-0" data-bs-toggle="tooltip" data-bss-tooltip=""
                                            type="submit"
                                            style="background: #3a3b45;border-color: #3a3b45;width: 69px;height: 48px;"
                                            title="Enviar comentário"><i class="fa fa-send"
                                                style="color: #ffc61e;font-size: 25px;border-color: #3a3b45;"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>