<nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <span
                class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
                style="background: #ffc61e;height: 38px;width: 38px;border-radius: 5.6px;">
                <i class="fa fa-film" style="color: #3a3b45;font-size: 22px;"></i>
            </span>

            <span>Watch Party</span>
        </a>

        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navcol-5">
            <ul class="navbar-nav ms-auto">
                <!-- 
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/app-home">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/app-sala">
                            Sala
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Configurações
                        </a>
                    </li> 
                -->
            </ul>

            <a class="btn btn-primary d-lg-flex justify-content-lg-center align-items-lg-center ms-md-2" role="button"
                data-bs-toggle="tooltip" data-bss-tooltip="" routerLink="/app-sala"
                style="color: #3a3b45;background: #ffc61e;border-color: #ffc61e;" title="Entrar">
                <i class="fa fa-sign-in" style="color: #3a3b45;font-size: 22px;"></i>
            </a>
        </div>
    </div>
</nav>