<section class="py-4 py-xl-5" style="height: 525px;">
    <div class="container">
        <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-white" style="margin-bottom: 5px;font-size: 40px;">Assistir vídeos
                            sozinho?</h2>
                        <h2 class="fw-bold text-white mb-3" style="font-size: 40px;">Nunca mais!</h2>
                        <p class="mb-4" style="font-size: 20px;">Aqui na Watch Party você e seus amigos, podem assistir
                            seus vídeos favoritos, juntos e de onde estiverem!</p>
                        <div class="input-group" style="width: 300px;"><input
                                class="bg-light form-control border-0 small" type="text"
                                placeholder="Digite o link da sala"><button class="btn btn-primary py-0"
                                data-bs-toggle="tooltip" data-bss-tooltip="" type="button"
                                style="background: #ffc61e;border-color: #ffc61e;width: 69px;height: 48px;"
                                title="Pesquisar sala"><i class="fa fa-keyboard-o"
                                    style="color: #3a3b45;font-size: 30px;"></i></button></div>
                        <p style="font-size: 20px;margin-top: 5px;margin-bottom: 5px;">ou</p><a
                            class="btn btn-primary btn-lg d-lg-flex align-items-lg-center me-2" role="button"
                            data-bs-toggle="tooltip" data-bss-tooltip="" href="new-room.html"
                            style="background: #ffc61e;color: #3a3b45;border-color: #ffc61e;width: 232px;"
                            title="Criar sala"><i class="fa fa-play"
                                style="color: #3a3b45;font-size: 30px;margin-right: 20px;margin-left: 10px;"></i>Crie
                            sua sala</a>
                        <div class="my-3"></div>
                    </div>
                </div>
                <div
                    class="col-auto col-md-6 d-lg-flex align-items-center order-first order-md-last justify-content-lg-center align-items-lg-center">
                    <img class="d-lg-flex align-items-lg-center" src="assets/img/oe.gif" style="width: 500px;"></div>
            </div>
        </div>
    </div>
</section>