<form>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12 align-items-lg-center" style="padding-bottom: 12px;">
                <!-- Nome da sala -->
                <input class="bg-light form-control border-0 small" type="text" placeholder="Insira o nome da sala"
                    style="width: 250px; margin-bottom: 10px;" required>

                <!-- Descrição -->
                <input class="bg-light form-control border-0 small" type="text" placeholder="Insira uma breve descrição"
                    style="width: 250px; margin-bottom: 10px;" required>

                <!-- Link do vídeo -->
                <input class="bg-light form-control border-0 small" type="url"
                    placeholder="Insira o link do vídeo (YouTube)" style="width: 250px; margin-bottom: 10px;" required>

                <!-- Botão submeter -->
                <button class="btn" data-bs-toggle="tooltip" data-bss-tooltip="" type="submit"
                    style="width: 250px; color: #3a3b45; background: #ffc61e;border-color: #ffc61e;"
                    value="{{ btnText }}">{{ btnText }}
                </button>
            </div>
        </div>
        <!--     
            <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" style="margin-bottom: 0px;">
                    <strong>Compartilhe o link, com as pessoas que você quer compartilhar esta sessão.</strong>
                </label>
            </div>
        </div>
        <div class="col-lg-12 d-lg-flex align-items-lg-center" style="padding-bottom: 0;padding-top: 0;">
            <div class="input-group">
                <label class="form-label input-group-text" style="color: #3a3b45;height: 48px;width: 180px;">
                    <strong>link da sala</strong>
                    <br>
                </label>
                <button class="btn btn-primary py-0" data-bs-toggle="tooltip" data-bss-tooltip="" type="button"
                    style="background: #3a3b45;border-color: #3a3b45;height: 48px;width: 69px;" title="Copiar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                        fill="currentColor" style="color: #ffc61e;font-size: 25px;border-color: #3a3b45;">
                        <path
                            d="M502.6 70.63l-61.25-61.25C435.4 3.371 427.2 0 418.7 0H255.1c-35.35 0-64 28.66-64 64l.0195 256C192 355.4 220.7 384 256 384h192c35.2 0 64-28.8 64-64V93.25C512 84.77 508.6 76.63 502.6 70.63zM464 320c0 8.836-7.164 16-16 16H255.1c-8.838 0-16-7.164-16-16L239.1 64.13c0-8.836 7.164-16 16-16h128L384 96c0 17.67 14.33 32 32 32h47.1V320zM272 448c0 8.836-7.164 16-16 16H63.1c-8.838 0-16-7.164-16-16L47.98 192.1c0-8.836 7.164-16 16-16H160V128H63.99c-35.35 0-64 28.65-64 64l.0098 256C.002 483.3 28.66 512 64 512h192c35.2 0 64-28.8 64-64v-32h-47.1L272 448z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div> -->
    </div>
</form>