.embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed iframe {
    position: absolute;
    width: 94%;
    height: 94%;
    border: none;
}

.card-body{
    height: 60vh;
}